.section2 .text {
  margin-top: 7%;
  font-size: 5rem;
  font-family: millik;
  line-height: 90px;
  color: black;
  letter-spacing: -0.15cm;
  text-align: center;
  padding: 0 20%;
}
.section2 .text span {
  font-size: 5.5rem;
  color: rgb(53, 161, 98);
}
.section2 .text .down {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.01cm;
  line-height: 30px;
  padding: 0 20px;
  margin: 50px 0;
}
.section2 .text .down button {
  margin: 0 auto;
}
.section2 img {
  height: 34rem;
  padding: 0 5%;
}
.section2 .growBelow {
  padding: 0 10%;
  margin: 10% 0;
}
.section2 .growBelow img {
  height: 4rem;
  margin: 0 0 15% -20px;
}
.section2 .growBelow .content {
  width: 25%;
}

.section3 {
  padding: 5% 0 0 5%;
  background-color: rgb(248, 250, 253);
  border-bottom: 0.1px dashed grey;
}
.section3 p {
  font-size: 5.2rem;
  font-family: millik;
  line-height: 100px;
  color: black;
  letter-spacing: -0.15cm;
  width: 58%;
}
.section3 article {
  margin-bottom: 10%;
  font-family: sans-serif;
  font-size: 1.2rem;
}
.section3 span {
  color: rgb(53, 161, 98);
}
.section3 h5 {
  width: 60%;
  font-size: 1.7rem;
  font-weight: lighter;
  margin: 3% 0;
}
.section3 .ovalWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section3 .ovalWrap .oval {
  margin: 0 4% 0 0;
  height: 10px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(53, 161, 98);
}
.section3 .ovalWrap h6 {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 1.2rem;
}
.section3 .formatWrap {
  margin-right: 7%;
}
.section3 .formatWrap .format {
  background-color: white;
  height: 350px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.section3 .formatWrap .format .text {
  padding: 5% 10%;
  color: rgb(40, 46, 87);
}
.section3 .formatWrap .format h6 {
  border-bottom: 0.1px dashed;
}
.section3 .formatWrap .format article {
  margin-bottom: 0;
  font-size: 1rem;
  text-transform: uppercase;
}
.section3 .formatWrap .ps {
  margin-left: 28%;
  margin-bottom: 30%;
}
.section3 img {
  width: 90%;
  margin-bottom: 0;
  z-index: 2;
}

.section4 {
  padding: 5%;
}
.section4 p {
  font-size: 5.2rem;
  font-family: millik;
  line-height: 100px;
  color: black;
  letter-spacing: -0.15cm;
  width: 100%;
}
.section4 article {
  margin: 10% 0;
  font-family: sans-serif;
  font-size: 1.1rem;
  width: 250px;
}
.section4 article a {
  text-decoration: none;
  color: rgb(45, 186, 186);
}
.section4 span {
  color: rgb(53, 161, 98);
}
.section4 h5 {
  width: 60%;
  font-size: 1.7rem;
  font-weight: lighter;
  margin: 3% 0;
}
.section4 .text {
  width: 100%;
}
.section4 span {
  font-weight: bolder;
  font-size: 2rem;
  margin-left: 20px;
}
.section4 .circleWrap {
  justify-content: flex-start;
  width: 300px;
}
.section4 .circle {
  background-color: rgb(193, 242, 229);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 20px;
  color: green;
}
.section4 h1 {
  color: white;
  border-top: 0.1px grey dashed;
  margin-top: 20px;
}
.section4 h6 {
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: -20px;
}

.section5 {
  padding: 5%;
  color: white;
}
.section5 .ready {
  padding: 10% 15%;
  background-color: rgb(38, 44, 85);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}
.section5 p {
  font-size: 4rem;
  font-family: millik;
  line-height: 100px;
  letter-spacing: -0.1cm;
  width: 90%;
}
.section5 h6 {
  font-weight: lighter;
  font-size: 1.4rem;
}
.section5 ::placeholder {
  color: white;
  opacity: 1;
  font-family: sans-serif;
  font-size: 1.4rem;
}
.section5 button {
  padding: 20px !important;
}