* {
  padding: 0;
  margin: 0;
}

.section1 .hero {
  width: 68%;
  padding-left: 9%;
  margin-top: 8%;
}
.section1 .hero p {
  font-size: 6.5rem;
  font-family: millik;
  line-height: 110px;
  color: black;
  letter-spacing: -0.17cm !important;
  width: 90%;
}
.section1 .hero span {
  color: rgb(251, 145, 41);
}
.section1 .hero h6 {
  font-weight: 400;
  width: 80%;
}
.section1 .heroPics {
  margin: 10% auto 0 auto !important;
  height: 120vh;
  overflow-x: clip;
}
.section1 .heroPics .one {
  height: 50rem;
  object-position: bottom right;
  object-fit: cover;
}
.section1 .heroPics .two {
  height: 45rem;
  margin-top: -18%;
  object-fit: cover;
  object-position: center;
}
.section1 .heroPics p {
  width: 50%;
  padding: 0 18% 0 2%;
  font-size: 1.2rem;
  margin: -20% 0 0 59%;
  font-family: sans-serif;
}
.section1 .businesses {
  margin-top: 10%;
  padding: 0 10%;
}
.section1 .businesses p {
  margin-top: 8%;
}
.section1 .businesses .brands {
  display: flex;
  flex-wrap: wrap;
}
.section1 .businesses .brands img {
  height: 2.45rem;
  object-fit: contain;
  margin: 20px 25px 0 0;
}
.section1 .hero2 {
  margin-top: 15%;
  padding: 0 10%;
  width: 70%;
  font-size: 6rem;
  font-family: millik;
  line-height: 110px;
  letter-spacing: -0.15cm;
  color: black;
}
.section1 .hero2 span {
  color: rgb(251, 145, 41);
}
.section1 .checkout {
  padding: 0 7%;
  flex-wrap: wrap;
}
.section1 .checkout p {
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.section1 .checkout button {
  background-color: rgb(10, 14, 39);
  margin: 10% 0;
}
.section1 .checkout span {
  font-size: 1.35rem;
  font-weight: lighter;
}
.section1 .checkout img {
  height: 40rem;
  width: 30%;
}
.section1 .checkout h6 {
  color: rgb(251, 145, 41);
  margin: 10% 0 !important;
  font-size: large;
}

.section1Rsp {
  display: none;
}

.section2 {
  background-color: rgb(248, 250, 253);
}
.section2 .build {
  margin: 20% 0;
  padding: 10%;
}
.section2 .build .text {
  font-size: 5.5rem;
  font-family: millik;
  line-height: 110px;
  color: black;
  letter-spacing: -0.15cm;
}
.section2 .build .text span {
  font-size: 6rem;
  color: rgb(53, 161, 98);
}
.section2 .build .one p {
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.section2 .build .one button {
  background-color: rgb(10, 14, 39);
  margin: 10% 0;
}
.section2 .build .one span {
  font-size: 1.35rem;
  font-weight: lighter;
}
.section2 .build h6 {
  color: rgb(251, 145, 41);
  margin: 10% 0 !important;
  font-size: large;
}
.section2 .build .pics {
  flex-wrap: wrap;
}
.section2 .build img {
  width: 58%;
  height: 45rem;
  object-fit: cover;
  object-position: center;
}
.section2 .sectionText {
  padding: 0 10%;
  margin-top: -10%;
  margin-bottom: 20%;
}
.section2 .sectionText p {
  letter-spacing: 0.05cm;
  line-height: 2.5cm;
  font-size: 4.59rem;
}
.section2 .sectionText span {
  color: rgb(53, 161, 98);
}

.section3 {
  background-color: rgb(29, 29, 29);
  height: auto;
  width: 100%;
  padding: 10%;
  color: white;
  text-align: center;
}
.section3 p {
  letter-spacing: 0.05cm;
  line-height: 2.5cm;
  font-size: 5rem;
  font-family: millik;
  color: white;
}
.section3 span {
  color: rgb(102, 114, 199);
}
.section3 h6 {
  font-size: 1.5rem;
  padding: 0 20%;
  margin: 5% 0;
}
.section3 .cards {
  background-color: rgb(124, 124, 124);
  height: 250px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin: 15% auto;
  border-radius: 20px;
}
.section3 .boxes {
  color: white !important;
  display: flex;
  justify-content: center;
  text-align: left;
  height: auto;
}
.section3 .boxes .slideBox {
  background-color: rgb(53, 53, 53) !important;
  margin-left: -7%;
  padding: 60px 20px;
  height: auto;
  width: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) -50px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.section3 .boxes .slideBox:hover ~ .slideBox {
  transform: translate(15%);
  transition: ease-out 0.8s;
}
.section3 .boxes p {
  letter-spacing: 0;
  line-height: 0.5cm;
  font-size: 1.3rem;
  font-weight: bolder;
  color: white;
  font-family: sans-serif;
}
.section3 .boxes span {
  color: white;
  font-size: 1.1rem;
}

.section4 {
  padding: 10% 0;
  padding-left: 9%;
  background-color: rgb(248, 250, 253);
}
.section4 p {
  font-size: 5.5rem;
  font-family: millik;
  line-height: 100px;
  color: black;
  letter-spacing: -0.15cm;
  width: 75%;
}
.section4 span {
  color: rgb(235, 125, 167);
}
.section4 h5 {
  width: 60%;
  font-size: 1.7rem;
  font-weight: lighter;
  margin: 3% 0;
}
.section4 .ovalWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section4 .ovalWrap .oval {
  margin: 0 4% 0 0;
  height: 10px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(38, 44, 85);
}
.section4 .ovalWrap h6 {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-top: 0.7%;
}

.section5 {
  padding: 10% 0 10% 10%;
}
.section5 img {
  height: 40rem;
  object-fit: cover;
  object-position: bottom-right;
}
.section5 p {
  font-size: 5.5rem;
  font-family: millik;
  line-height: 100px;
  color: black;
  letter-spacing: -0.15cm;
  width: 75%;
}
.section5 span {
  color: rgb(102, 114, 199);
}
.section5 .global {
  width: 100%;
}
.section5 .global a {
  color: rgb(23, 179, 179);
  padding-left: 50px;
  border-left: 2px solid black;
  text-decoration: none;
  font-weight: bolder;
  font-size: larger;
}
.section5 .global h5 {
  padding-left: 50px;
  border-left: 2px solid black;
  font-weight: bold;
  font-size: 1.15rem;
}
.section5 .global h6 {
  padding: 0 0 15% 50px;
  border-left: 1px dashed grey;
}
.section5 .global ul {
  padding: 0 0 0 50px;
  border-left: 1px dashed grey;
  height: 100px;
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 4;
}

.section6 {
  padding: 10%;
  color: white;
}
.section6 .ready {
  padding: 10% 15%;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
}
.section6 p {
  font-size: 4rem;
  font-family: millik;
  line-height: 100px;
  letter-spacing: -0.1cm;
  width: 90%;
}
.section6 h6 {
  font-weight: lighter;
  font-size: 1.4rem;
}

.accordion {
  display: none;
}

@media only screen and (max-width: 991px) {
  .hero {
    width: 90%;
    padding-left: 0 2px !important;
    margin: 8% 0 30px -7%;
  }
  .hero p {
    font-size: 85px;
    font-family: millik;
    line-height: 2.3cm !important;
    color: black;
    letter-spacing: -0.15cm;
  }
  .hero span {
    color: rgb(251, 145, 41);
  }
  .hero h6 {
    font-weight: 400;
    width: 80%;
    margin: 5% 0 !important;
  }
  .section5 .wrap img {
    height: 20rem;
  }
  footer {
    display: none;
  }
}
@media only screen and (max-width: 767px) and (min-width: 350px) {
  .section1 {
    display: none;
  }
  .section1Rsp {
    display: block;
  }
  .section1Rsp .hero {
    width: 95%;
    padding: 0 4% !important;
    margin: 8% 0 30px 0;
  }
  .section1Rsp .hero p {
    font-size: 70px;
    font-family: millik;
    line-height: 2cm !important;
    color: black;
    letter-spacing: -0.15cm;
  }
  .section1Rsp .hero span {
    color: rgb(251, 145, 41);
  }
  .section1Rsp .hero h6 {
    font-weight: 400;
    width: 80%;
    margin: 5% 0 !important;
    color: black;
  }
  .section1Rsp .hero2 {
    margin-top: 15%;
    padding: 0 5%;
    width: 95%;
    font-size: 4rem;
    font-family: millik;
    line-height: 1.5cm;
    letter-spacing: -0.15cm;
    color: black;
  }
  .section1Rsp .hero2 span {
    color: rgb(251, 145, 41);
  }
  .section1Rsp .checkout {
    padding: 0 6%;
    flex-wrap: wrap;
  }
  .section1Rsp .checkout p {
    color: black;
    font-size: larger;
    font-weight: bolder;
  }
  .section1Rsp .checkout button {
    background-color: rgb(10, 14, 39);
    margin: 10% 0;
  }
  .section1Rsp .checkout span {
    font-size: 1.35rem;
    font-weight: lighter;
  }
  .section1Rsp .checkout img {
    width: 60% !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: -100px 0 50px -40% !important;
  }
  .section1Rsp h6 {
    color: rgb(251, 145, 41);
    margin: 10% 0 !important;
    font-size: large;
  }
  .heroPics {
    padding: 0 0 0 5%;
  }
  .heroPics p {
    width: 98%;
    font-size: 1.5rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin: 5px 0;
    padding-right: 0;
    position: static;
  }
  .heroPics .one {
    margin-top: 2%;
    height: 30rem;
    width: 100%;
    object-fit: contain;
  }
  .heroPics .two {
    height: 35rem;
    width: 100%;
    object-fit: contain;
  }
  .heroPics .brands img {
    margin-top: 10%;
    height: 1.5rem;
  }
  .section2 .text p {
    margin-top: -100px;
    font-size: 70px;
    line-height: 2cm;
  }
  .section2 .text p span {
    font-size: 70px !important;
  }
  .section2 .one {
    margin-top: 30px;
  }
  .section2 .pics img {
    height: 30rem;
    width: 100%;
  }
  .section2 .pics .creator {
    margin-top: 20% !important;
  }
  .section3 p {
    font-size: 70px;
    line-height: 2cm;
  }
  .section3 p span {
    font-size: 70px !important;
  }
  .section3 .boxes {
    color: white !important;
    display: block;
  }
  .section3 .boxes .slideBox {
    margin-top: 20px;
  }
  .section4 p {
    font-size: 70px;
    line-height: 1.8cm;
  }
  .section4 p span {
    font-size: 70px !important;
  }
  .section5 p {
    font-size: 70px;
    line-height: 2cm;
  }
  .section5 p span {
    font-size: 70px !important;
  }
}