.section2 {
      .text {
        margin-top: 7%;
        font-size: 5rem;
        font-family: millik;
        line-height: 90px;
        color: black;
        letter-spacing: -0.15cm;
        text-align: center;
        padding: 0 20%;
        span {
          font-size: 5.5rem;
          color: rgb(53, 161, 98);
        }
        .down {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.4rem;
            letter-spacing: 0.01cm;
            line-height: 30px;
            padding: 0 20px;
            margin: 50px 0;
            button {
                margin: 0 auto;
            }
        }
      }  
      img {
        height: 34rem;
        width: 90%;
        padding: 0 5%;
      }
      .growBelow {
        padding: 0 10%;
        margin: 10% 0;
        img {
            height: 4rem;
            margin: 0 0 15% -20px;
        }
        .content {
            width: 25%;
        }
      }    
}
.section3 {
    padding: 5% 0 0 5%;
    background-color: rgb(248, 250, 253);
    border-bottom: 0.1px dashed grey;
  
    p {
      font-size: 5.2rem;
      font-family: millik;
      line-height: 100px;
      color: black;
      letter-spacing: -0.15cm;
      width: 58%;
    }
    article {
        margin-bottom: 10%;
        font-family: sans-serif;
        font-size: 1.2rem;
    }
    span {
      color: rgb(53,161,98);
    }
    h5 {
      width: 60%;
      font-size: 1.7rem;
      font-weight: lighter;
      margin: 3% 0;
    }
  
    .ovalWrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
  
      .oval {
        margin: 0 4% 0 0;
        height: 10px;
        width: 20px;
        border-radius: 50%;
        background-color: rgb(53,161,98);
      }
      h6 {
        font-weight: lighter;
        font-family: sans-serif;
        font-size: 1.2rem;
      }
    }
    .formatWrap {
        margin-right: 7%;
    .format {
        background-color: white;
        height: 350px;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        .text {
            padding: 5% 10%;
            color: rgb(40,46,87);
        }
        h6 {            
            border-bottom: 0.1px dashed;
        }
        article {
            margin-bottom: 0;
            font-size: 1rem;
            text-transform: uppercase;
        }
    }
        .ps {
            margin-left: 28%;
            margin-bottom: 30%;
        }

    }
    img {
        width: 90%;
        margin-bottom: 0;
        z-index: 2;
    }
}

.section4 {
    padding: 5%;  
    p {
      font-size: 5.2rem;
      font-family: millik;
      line-height: 100px;
      color: black;
      letter-spacing: -0.15cm;
      width: 100%;
    }
    article {
        margin: 10% 0;
        font-family: sans-serif;
        font-size: 1.1rem;
        width: 250px;
        a {
          text-decoration: none;
          color: rgb(45,186,186);
        }
    }
    span {
      color: rgb(53,161,98);
    }
    h5 {
      width: 60%;
      font-size: 1.7rem;
      font-weight: lighter;
      margin: 3% 0;
    }
    .text {
        width: 100%;
    }
    span {
        font-weight: bolder;
        font-size: 2rem;
        margin-left: 20px;
    }
    .circleWrap {
      justify-content: flex-start;
      width: 300px;
    }
    .circle {
        background-color: rgb(193,242,229);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        font-size: 1.5rem;
        margin-right: 20px;
        color: green;        
    }
    h1 {
        color: white;
        border-top: 0.1px grey dashed;
        margin-top: 20px;
    }
    h6 {        
      font-family: sans-serif;
      font-size: 1.4rem;
      font-weight: 100;
      margin-top: -20px;
    }
}
.section5{  
    padding: 5%;
    color: white;
    .ready {
      padding: 10% 15%;
      background-color: rgb(38,44,85);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      border-radius: 20px;
    }
    p {
      font-size: 4rem;
      font-family: millik;
      line-height: 100px;
      letter-spacing: -0.1cm;
      width: 90%;
    }
    h6 {
      font-weight: lighter;
      font-size: 1.4rem;
    }
    ::placeholder {
        color: white;
        opacity: 1;
        font-family: sans-serif;
        font-size: 1.4rem;
    }
    button {
        padding: 20px !important;
    }
  }
  .accordion {
    display: none;
  }

  @media only screen and {min-width: 1300px;
    
  }