*{
    padding: 0;
    margin: 0;
}
.navbar {
    font-family: sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
    align-items: center;
    color: rgb(85,90,122);
    padding: 0 8% !important;
        a:hover {
                    color: green;
                } 
    .one {        
            width: 15%;
            margin-right: 150px; 
    }
        a {
            text-decoration: none;
            color: rgb(115,118,145);     
                    
        }
        img{
            width: 100%;
        }
        .dropDown {
            position: relative;
            display: inline-block;
            .drop {                
                padding: 16px;
                border: none;
        }
            .content {
                display: none;
                position: absolute;
                min-width: 250px;
                border: 0.2px grey solid;
                margin-left: -3%;
                border-radius: 10px;
                background-color: white;
                padding: 5px 10px;
                    a {
                        display: block;
                        color: black;
                        text-decoration: none;
                        padding: 10px 20px;
                    }
                    
            }
            .drop:hover .content{
                display: block;
            }
            .drop:hover {                
                cursor: pointer;
            }
            a:hover {
                color: green;
            }
            i {
                background-color: antiquewhite !important;
                padding: 7px;
                border-radius: 5px;
                color: orangered;
            }
        }
        * {
            margin: 0px 3px;
        }
        .btn{
            padding: 10px 50px;
            background-color: rgb(238,238,238);
            border-radius: 10px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
}
.hero {
    width: 68%;
    padding-left: 6% !important;
        p {
            font-size: 6.8rem;
            font-family: millik;
            line-height: 120px;
            color: black;
            letter-spacing: -0.15cm;
        }
        span {
            color: rgb(251,145,41);
        }
        h6 {
            font-weight: 400;
            width: 80%;
        }
}
.heroPics {
    max-width: 110%;
    margin: 10% auto 0 auto !important;
    height: 120vh;
    overflow-x: clip;  
        .one {
            // width: 58%;
            height: 50rem;
            object-position: bottom right;
            object-fit: cover;
        }
        .two {
            // width: 40%;
            height: 45rem;
            margin-top: -15%;
            object-fit: cover;
            object-position: center;
        }
        p {
            width: 30%;
            font-size: 1.2rem;
            position: inherit;
            margin: -15% 0 0 59%;
            // background-color: red;
            font-family: sans-serif;
        }
}







@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tablet {    
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 412px) {
      @content;
    }
  }
}